<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.dinus.com.example" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CircleJumpActivity"
            android:label="@string/label_circle_jump"/>

        <activity android:name=".CircleRotateActivity"
            android:label="@string/label_circle_rotate"/>

        <activity android:name=".SceneryActivity"
            android:label="@string/label_scenery"/>

        <activity android:name=".AnimalActivity"
            android:hardwareAccelerated="false"
            android:label="@string/label_animal"/>

        <activity android:name=".GoodsActivity"
            android:hardwareAccelerated="false"
            android:label="@string/label_goods"/>

        <activity android:name=".ShapeChangeActivity"
            android:hardwareAccelerated="false"
            android:label="@string/label_shape_change"/>
    </application>

</manifest>
